html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

img {
    max-width: 100%;
}

.header {
    padding-top: 3rem;
}

.header__container {
    display: flex;
    max-width: 1200px;
    justify-content:flex-start;
    
}

.navigation {
    background-color: black;
    margin: 3rem 0;
}

.navigation__link {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navigation__link:hover {
    background-color: #c9c84a;
    color: black;
}

.hero__img {
    width: 100%;
}


.main-containt__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;

    display: grid;
    grid-template-columns: 3fr, 1fr;
}



.main-content__title {
    text-align: center;
}

.main-content__post p {
    text-align: justify;
    padding: 0 1rem;
}

blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}

.main-content__info {
    background-color: #c9c84a;
    color: white;
    font-size: 1.4rem;
}

.main-content__info p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}

.main-content__img1, .main-content__img2 {
    text-align: center;
}

.footer {
    background-color: #c9c84a;
    padding-top: 3rem;
    text-align: center;
}

.footer__link {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: .5rem;
}

.footer__copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}
