* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: grey;
  margin: 20px;
  padding: 20px;
  width: 95%;
  overflow: auto;
}

header {
  background-color: green;
  height: 150px;
  margin-bottom: 20px;
}

section {
  background-color: yellow;
  height: 620px;
  width: 20%;
  float: left;
}

article {
  background-color: red;
  height: 300px;
  float: left;
  width: 20%;
  margin-left: 5%;
}

footer {
  background-color: blue;
  height: 300px;
  float: left;
  margin-top: 20px;
  margin-left: 5%;
  width: 70%;
}