* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 50px auto;
}

.container {
    margin-inline: auto;
    width: 90%;
}

h1 {
    text-align: center;
    padding: 15px;
}

header {
    background-color: orange;
    height: 150px;
    line-height: 100px;
}

.red {
    background-color: red;
    height: 150px;
}

.blue {
    background-color: blue;
    height: 150px;
}

.green {
    background-color: green;
    height: 150px;
}

@media(max-width: 576px) {
    header {
        background-color: yellow;
    }

    h1 {
        color: green;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .red, .blue {
        width: 50%;
        float: left;
    }

    .green {
        clear: both;
    }

    h1 {
        color:green;
    }
}

@media(min-width: 992px) {
    .red, .blue, .green {
    width: calc(100% / 3);
    float: left;
  }

  h1 {
    color: green;
  }
}
