*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(img/imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    color: yellow;
}

h4 {
    color: white;
}

.hero_address--white {
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;
}

.hero__container-left {
    align-self: flex-start;
    background-color: goldenrod;
    text-align: center;
    padding: 20px;

}

.hero__container-centered {
    text-align: center;
    background-color: black;
    padding: 20px;
}

.hero__container-right {
    align-self: flex-end;
    background-color: goldenrod;
    text-align: center;
    padding: 20px;
}