body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.container {
    border: 2px solid black;
    border-radius: 10px;

    /* centrado del container: */
    /* margin: 0px auto */
    /* margin-right: auto */
    /* margin-left: auto */

    margin-inline: auto;

    padding: 10px;
    width: 50%;
}

img:nth-of-type(1) {
    float: right;
}

/* img:nth-of-type(2) {
    float: left
} */

img:nth-of-type(3), img:nth-of-type(2) {
    float: left
}

