* {
    font-family: sans-serif;
}

.divespecial {
    width: 200px;
    background-color: gray;
    border-color: red;
    border: 1px solid;
    margin: 0;
    padding: 0;
}

.pespecial {

}