* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    max-width: 1000px;
    height: 500px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.container__text {
    background-color: darkgreen;

    grid-column: 3 / 7;
    grid-row: 2 / 8;

    order: 1;

}

.container__text_flex {
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 100%;
    justify-content: center;
}

.container__titulo {
    color: white;
    font-size: 2rem;
}

.container__descripcion {
    color: white;
}

.container__boton {
    text-decoration: none;
    color: rgb(33, 51, 0);
    background-color: white;

    display: block;
}

.container__img {
    background-image: url(img/playa.jpg);
    background-size: cover;
    background-position: top center;

    grid-column: 1 / 5;
    grid-row: 1 / 9;
    
}






































/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #96fbd0 30%, #1cadfe 100%);
    color: white;
}

.container {
    height: 100vh;
    display: grid;
    
}



.navigation {
    background-color: orange;
}

.sidebar1 {
    background-color: green;
}

main {
    background-color: red;
}

.sidebar2 {
    background-color: blue;
}

footer {
    background-color: purple;
} */