table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
}

/* Utilizando únicamente pseudoselectores, aplica fondo verde a las casillas que contienen horas */
table td:first-child {
    background-color: green;
}

/* Utilizando únicamente pseudoselectores, aplica un fondo amarillo a la celda RECREO */
table tr:nth-child(3) td: {
    background-color: yellow;
    font-weight: bold;
    font-size: 18px;
}

/* Cambia los estado de los enlaces para que:


-Nunca estén subrayados
-Si están visitados se muestren en rojo
-Si no están visitado se muestren en verde */

a {
    text-decoration: none;
}

a :visited {
    color: red;
}

a :link {
    color : green;
}

/* Utilizando pseudoselectores, hacer que cuando pasemos el ratón sobre las celdas de la columna del viernes,
aumente el tamaño de letra el doble */


/* Utilizando pseudoelementos, haz que la primera letra de los días tenga el doble de tamaño */


/* Añade un borde rojo que esté separado 5px a los campos obligatorios */


/* Añade un * en rojo detrás de las etiquetas del formulario */

