* {                     /*<span> no hereda de html, pero de * si hereda todo*/
    color:darkred;
}

h1 {
    color:darkblue;
}

h2, h3 {
    color:darkslateblue;
}

h1, h2, h3 {
    font-family: Georgia, serif;
}

nav div a {              /*Es mejor especificarlo mas*/
    text-decoration: none
}

main p {
    font-size : 30px;
    line-height: 1.5;
}

section p {
    font-size: 20px;
}

section > p {
    font-size: 24px;
}

header h1, main h2 {
    text-align:center;
}

main + section {
    border: 2px dotted black;
}

main ~ * {
    background-color: lightgray;
}

article :first-of-type {
    width: 200px;
    background-color: bisque;
}

img[alt] {
    width: 200px;
}

img[alt^="mom"] {
    border-radius:50%;
}

img[src*="2"] {
    width: 300px;
}

img[alt$= "o"] {
    border: 5px solid darkorange
}

img[alt*="mono"] {
    outline: 10px blue;
}

a[href="contacto.html"] {
    text-decoration: line-through;
}



