* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: darkblue;
    line-height: 1.5;
    margin: 20px 0;
}

.container {
    background-color: whitesmoke;
    margin: auto;
    width: 90%;

    display: grid;
    
}

.header {
    background-color: #fffacd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.main {
    background-color: white;
    padding: 10px;
}

main > p {
    margin-bottom: 20px
}

.sidebar {
    background-color: #e3e3fa;
    padding: 10px;
}

.sidebar > h3 {
    color: black;
}

.sidebar > p {
    font-size: 15px;
    padding-bottom: 10px;
}

.navigation {
    padding: 10px;
    background-color: darksalmon;
}

footer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgrey;
}

@media (min-width: 600px) {
    .container {
        max-width: 1100px;
        grid-template-columns: 10rem 1fr 10rem;
        grid-template-rows: 5rem 1fr 5rem;
    }

    
}

