* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.gallery {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 60px 0;
}

/* titulo */
.gallery_title {
    font-size: 2.6rem;

}

/* flex container */
.gallery_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

/* flex items */
.gallery_figure {
    height: 350px;
    width: 350px;

}

.gallery_img {
    display:block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}