* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

h1 {
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;

    padding: 20px;
}

.galeria img {
    height: 350px;
    width: 350px;
    flex-wrap: 1;
    object-fit: over;
}