* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
}


.container__basico {
    text-align: center;
    margin: 10px;
}

.container__intermedio {
    text-align: center;
    margin: 10px;

}

.container__profesional {
    text-align: center;
    margin: 10px;
}